<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>TeslaCare uses your location to show how far away your car is.</string>
	<key>NSCameraUsageDescription</key>
	<string>TeslaCare uses the camera to photograph tire tread for your records.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>TeslaCare saves tire photos to your camera roll.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>teslacare</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.teslacare.auth</string>
		</dict>
	</array>
</dict>
</plist>
